Create User
<form action='/submitUser' method='post'>
<input name='username' type='text' placeholder='username'>
<input name='password' type='password' placeholder='password'>
<p><%= errorMessage %></p>
<button>Submit</button>
</form>